.post {
    border: 1px solid var(--borderColor);
    padding: 20px;
    padding-bottom: 10px;
    margin: 10px 0;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    transition: .3s background;
    opacity: 0;
    
    & :global {
        animation: .3s showPost ease forwards;     
    }
    
    &:hover {
        background: var(--postBackgroundColor)
    }

    &_title {
        font-weight: bold;
        font-size: 24px;
    }

    &_text {
        margin-top: 20px;
        color: var(--lightBlackColor);
        line-height: 30px;
    }

    &_info {
        font-style: italic;
        font-size: 14px;
        margin-top: 15px;
    }

    &_reaction {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        button > * {
            pointer-events: none;
        }

        svg {
            width: 30px;
            margin-right: 6px;
        }
    }
}

.preload_posts {
    height: 190px;
    margin: 10px 0;
    border-radius: 10px;
    background: rgb(242, 242, 242);
}