@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  font-family: 'Open Sans', -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--mainColor);
  transition: .2s background, .2s color, .2s border;
}

a {
  color: unset;
}

.main-title {
  font-size: 30px;
  font-weight: 800;
  margin: 20px 0px 25px 0;
}



:root, [data-theme=light] {
  --background: #fff;
  --mainColor: #2d3436;
  --blueColor: #1da1f2; 
  --yellowColor: #fdcb6e;
  --borderColor: #b2bec3;
  --lightBlackColor: #636e72;
  --postBackgroundColor: #f1f7f9;
}

[data-theme=dark] {
  --background: #2c3e50;
  --mainColor: #fff;
  --lightBlackColor: #dfe6e9;
  --postBackgroundColor: #34495e;
}